{{ header }}

{% if final %}

<section class="ftco-section ftco-no-pb ftco-no-pt" style="margin-top:100px">
   <div class="container">

   <div class="col-md-12 text-center">
   {% for display in final %}
   
   <div class="row">
	<div class="col-md-12" style="margin-bottom:30px">

		{% set newArr = display|split(',') %}
		
		{% for card in newArr %}
			<font size="5" style="border:1px solid #ccc; margin:5px;padding:3px 12px;">
				{% if card|first == 'H' %}
					<span style="color:red">&#9829; 
				{% elseif card|first == 'D' %}
					<span style="color:red">&#9830; 
				{% elseif card|first == 'S' %}
					<span style="color:black">&#9824;  
				{% else %}
					<span style="color:black">&#9827; 
				{% endif %}
				
				
				{% if card|last == 'X' %}
					10
				{% else %}
					{{ card|last }}
				{% endif %}
				
				</span>

		</font>
		{% endfor %}

   </div>
   </div>
{% endfor %}
</div>
</div>
</section>
{% else %}

<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt">
   <div class="container">
      <div class="row">
         <div class="col-md-3"></div>
         <div class="col-md-6">
          <div class="login-wrap p-5 p-md-6">
              <h3 class="mb-5">{{ text_title }}</h3>
			  
			  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}

			  <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
				
				<div class="form-group required">
					<label class="label" for="input-people">{{ entry_people}}</label>
					  <input type="number" name="people" value="{{ people }}" placeholder="{{ entry_people }}" id="input-people" class="form-control" />

				  </div>

		<div class="form-group d-flex justify-content-end mt-4 col-md-12">

            <input type="submit" value="{{ button_submit }}" class="btn btn-primary" style="width:100%" />

        </div>

         </form>
         
        
     </div>
 </div>
 <div class="col-md-3"></div>
</div>
</div>
</section>

{% endif %}

{{ footer }} 