{{ header }}

<section class="hero-wrap hero-wrap-2" style="background-image: url('image/bg_1.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
			<h1 class="mb-0 bread">Contact us</h1>
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<p class="breadcrumbs">
					&nbsp;
					</p>
				</div>
			</div>
		</div>
	</section>

<section class="services">
 <div class="container">
    <div class="row justify-content-center">
       <div class="col-md-12 text-center">
          
             <div class="overlay"></div>
             <h2>{{ text_reply_header }}</h2>
             <p>{{ text_message }}</p>
             <p class="mb-0"><a href="{{ continue }}" class="btn btn-primary px-4 py-3">{{ button_continue }}</a></p>
         
     </div>
 </div>
</div>
</section>


{{ footer }}